
/* menu button */

.nav-btn{
    display: block;    
}

.menu a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 13px;
    font-size: 38px;
    margin-bottom: 20px;
    margin-right: 30px;
    padding: 0px 16px;
    transition: .5s;
}

.menu a:hover{
    background-color: #278584;
}

 
/* navbar */
.navbar ul li{
    display: none;
}

/* navbar when clicked */
.navbar.toggle{
    display: flex;
    justify-content: space-between;
}


.navbar.toggle ul li{
    display: block;
    padding: 10px 18px;
    font-size: 14px;
}

.navbar.toggle ul{
    display: block;
    position: relative;
    top: 27px;
    margin: 65px 30px;
    
}


/* training hover  */

.navbar.toggle .sub-mode ul li{
    font-size: 10px;
   
}

.navbar.toggle ul li:hover .sub-mode{
    margin-left: 85px;
    top: 15px;
}


.navbar.toggle ul li:hover .sub-mode ul li{
    width: 75px;
   
}

/* inside training */

.navbar.toggle .sub-mode ul li:hover .mode{
    padding: 10px 2px;
    margin-left: 60px;
    top: 32px;

}

.navbar.toggle .sub-mode ul li:hover .mode{
    padding: 10px 2px;
}

.navbar.toggle .sub-mode ul li:hover .mode ul li{
    width: 60px;
}



/* service hover */

.navbar.toggle .sub-service ul li a{
    left: -15px;
}

.navbar.toggle .sub-service ul i {
    position: relative;
     left: 40px;
     top: -20px;
}


.navbar.toggle ul li:hover .sub-service{
    margin-left: 85px;
    top: 95px;
    width: 130px;
}


.navbar.toggle ul li:hover .sub-service ul li{
    font-size: 12px;
}

.navbar.toggle ul li:hover .sub-service ul{
    
    padding:0;
    margin-top: -25px;
}

/* inside service */

.navbar.toggle .sub-service ul li:hover .inter-card{
    margin-top: -50px;
    margin-left: 51px;
    width: 122px;
}


.navbar.toggle .inter-card ul li a{
    width: 100px;
}





@media(max-width:350px){

    .navbar.toggle ul{
        margin: 65px 10px;
    }

    .navbar.toggle .sub-service ul i {
      
         left:0px;
         
    }
    

}